<html>
<form action='/bill'>
    <table>
        <b>Select food<b><br><br>
                <select name='food'>
                    <option>--Select--</option>
                    <option>Pepsi</option>
                    <option>Fanta</option>
                    <option>Pizza</option>
                </select><br><br>
                <b>Enter quantity</b><br><br>
                <input type="text" name='qty'><br><br>

                <!-- <b>Enter Rate</b><br><br>
                <input type="rate" name='rte'><br><br> -->


    </table>

    <input type="submit">
</form>




</html>